.profile {
  display: flex;
  width: 880px;
  top: 159px;
  align-items: center;
  margin: 40px auto 50px;
  column-gap: 30px;
}

.profile_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 415px;
  height: 77px;
  margin-right: 0;
}

.profile__name {
  color: #ffffff;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin: 0;
  width: 415px;
  height: 39px;
}
.profile__job {
  width: 415px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.profile__button {
  position: absolute;
  align-self: last baseline;
  transition: ease 1s;
  background-color: black;
  border: none;
  padding-left: 18px;
}

.profile__button:hover {
  opacity: 0.3;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    width: 282px;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }

  .profile_info {
    align-items: center;

  }

  .profile__name {
    width: 196px;
    height: 22px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
  }
 
  .profile__job{
    margin: auto;
    text-align: center;
  }


}
