.place_logo {
  display: block;
  margin: auto;
  width: 880px;
  border: 1px;
  padding-top: 45px;
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .place_logo {
    width: 320px;
    margin: auto;
  }
  .line {
    width: 320px;
  }
}
